<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="Bookmark" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/crud/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/crud/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/crud/css/style.css"/>
    <title>成為海外賣家(台灣出貨泰國)｜PChome Thai</title>
    <script>
	  <!-- Google Tag Manager -->
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-52F2P7M');
		<!-- End Google Tag Manager -->
	</script>
  </head>
  <body style="background-image: url('img/bg_seller_n.jpg');">
    <header class="header--oversea">
      <div class="header__inner">
        <div class="header__box"><a class="logo--pchome" href="http://www.pchome.co.th/"><img src="img/icon_logo_pchome_white.svg" alt="PChome_Thai"/></a></div>
      </div>
    </header>
    <div class="contents">
      <div class="container">
        <div class="row">
          <div class="login col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="login__page">
              <div class="login__title">
                <div class="login__title__icon"><img src="img/icon_overseas_airplane_r.svg" alt="airplane"/></div>
                <h3>成為賣家 (台灣出貨泰國)</h3>
                <p class="warn--left">具有台灣的銀行帳戶者申請</p>
                <div class="login__tag login__tag--long"></div>
              </div>
              <div class="login__id">
                <ul>
                  <li class="login__id__item login__id__item--presonal">
                    <div class="login__id__item__icon login__id__item__icon--presonal"></div>
                    <h4>個人賣家                                    </h4>
                  </li>
                  <li class="login__id__item login__id__item--company">
                    <div class="login__id__item__icon login__id__item__icon--company"></div>
                    <h4>公司賣家                                    </h4>
                  </li>
                </ul>
              </div>
              <form class="login__form">
                <h4 class="login__form__title">賣場資訊</h4>
                <div class="column">
                  <label>*聯絡手機號碼 (會收到訂單通知)</label>
                  <div class="input-group">
                    <input class="form-control" id="tel" type="tel" placeholder="我們會寄送簡訊認證" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
                  </div>
                  <div class="checkboxes">
                    <label class="checkbox blue">
                      <input type="checkbox" value="account"/>
                      <div class="indicator"></div><span>作為登入帳號</span>
                    </label>
                  </div>
                </div>
                <div class="column">
                  <label>*賣場名稱</label>
                  <input class="form-control" type="text" placeholder="請輸入英文或泰文名稱"/>
                </div>
                <div class="column">
                  <label>*賣場聯絡人</label>
                  <input class="form-control" type="text" placeholder=""/>
                </div>
                <div class="column">
                  <label>*聯絡e-mail (會收到訂單通知)</label>
                  <input class="form-control" type="email" placeholder=""/>
                  <div class="invalid-feedback">這不是正確的格式</div>
                </div>
                <div class="column">
                  <label>*賣場聯絡電話</label>
                  <input class="form-control" type="tel" placeholder="（+886）請輸入賣場市話或手機號碼"/>
                  <div class="invalid-feedback">這不是正確的格式</div>
                </div>
                <div class="column">
                  <label>*聯絡地址</label><a class="btn btn-sm btn-gray" href="https://www.post.gov.tw/post/internet/Postal/index.jsp?ID=207" target="_blank">中文地址英譯</a>
                  <input class="form-control" type="text" placeholder="Street address, Apartment, suite, unit, building, floor, etc."/>
                </div>
                <div class="column">
                  <label for="Select1">縣/市</label>
                  <select class="form-control" id="Select1">
                    <option>請選擇</option>
                    <option>台北市/Taipei</option>
                    <option>新北市</option>
                    <option>桃園市</option>
                    <option>新竹市</option>
                    <option>宜蘭縣</option>
                  </select>
                </div>
                <div class="column">
                  <label for="Select2">區/市</label>
                  <select class="form-control" id="Select1">
                    <option>請選擇</option>
                    <option>大同區/Datung</option>
                    <option>大安區</option>
                    <option>士林區</option>
                    <option>北投區</option>
                    <option>中山區</option>
                  </select>
                </div>
                <div class="column">
                  <label>郵遞區號</label>
                  <input class="form-control" type="number" placeholder="請輸入郵遞區號"/>
                  <div class="invalid-feedback">這不是正確的格式</div>
                </div>
                <div id="Remind">
                  <div class="warn--left remind--id">
                    <h4 class="login__form__title">個人資料設定</h4><span class="warn--strong">之後設定提領的銀行帳號需與身分證字號一致，否則會影響撥款權益。</span>
                    <div class="column">
                      <label>*姓名</label>
                      <input class="form-control" type="text" placeholder="請輸入真實中文姓名"/>
                    </div>
                    <div class="column">
                      <label>*身分證字號</label>
                      <input class="form-control" type="text" placeholder=""/>
                    </div>
                  </div>
                  <div class="warn--left remind--bn">
                    <h4 class="login__form__title">公司資料設定</h4><span class="warn--strong">之後設定提領的銀行帳號需與公司統一編號一致，否則會影響撥款權益。</span>
                    <div class="column">
                      <label>*公司名稱</label>
                      <input class="form-control" type="text" placeholder="請輸入公司名稱"/>
                    </div>
                    <div class="column">
                      <label>*統一編號</label>
                      <input class="form-control" type="text" placeholder="請輸入公司統一編號"/>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="row">
                    <div class="col-12">
                      <div class="checkboxes">
                        <label class="checkbox blue">
                          <input type="checkbox" value="agree-pchomepay" checked="true"/>
                          <div class="indicator"></div><span>我同意 <a href="#">PChome 代收付服務條款</a>，與<a href="#">匯率轉換</a>，並開啟PChomePay。</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="column">
                  <div class="button__group"><a id="nextbtn" class="btn btn-dark btn-orange btn-lg btn-block" href="#">下一步</a></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="pc__copyright">
        <p class="footer__copyright">Copyright 2015 PChome.co.th All Rights Reserved.</p>
        <ul class="footer__terms">
          <li><a href="http://www.pchome.co.th/about/privacypoilcy" target="_blank">นโยบายความเป็นส่วนตัว</a></li>
          <li><a href="http://www.pchome.co.th/about/webpoilcy" target="_blank">เงื่อนไขการใช้บริการ</a></li>
        </ul>
      </div>
      <div class="m__copyright">
        <ul class="footer__terms">
          <li><a href="http://m.pchome.co.th/about" target="_blank">About Us</a></li>
          <li><a href="http://www.pchome.co.th/about/privacypoilcy" target="_blank">นโยบายความเป็นส่วนตัว</a></li>
          <li><a href="http://www.pchome.co.th/about/webpoilcy" target="_blank">เงื่อนไขการใช้บริการ</a></li>
        </ul>
      </div>
    </footer>
    <!-- Optional JavaScript-->
        <script type="text/javascript" src="/crud/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/crud/js/popper.min.js"></script>
    <script type="text/javascript" src="/crud/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/crud/js/create_seller_account/newcreate_overseas_seller_account.js"></script>
  <script type="text/javascript">
	$(document).ready(function(){
		
		$('nextbtn').click(function(){
			location.href='#tel';
		})
		
		
		
	})
  
  
  
  </script>
  </body>
</html>