<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/login.css"/> <!-- CSS和JS的根目錄都在static -->

</head>
<body>
<div th:include="components/header"></div> 
<div class="container">
       
	<form action="#" th:action="@{/saveMember}" th:object="${memberBeanreg}" 
		method="post">
		<table class="table table-condensed">
			<tr>
				<td><label th:text="#{register.id}"></label></td> 
				<td><input type="text" th:field="*{memberid}" /></td>
			</tr>
			<tr class="success">
				<td><label th:text="#{register.password}"></label></td>
				<td><input type="password" th:field="*{password}" /></td>
			</tr>
			<tr>
				<td><label th:text="#{register.name}"></label></td>
				<td><input type="text" th:field="*{memName}" /></td>
			</tr>
			<tr class="success">
				<td><label th:text="#{register.sex}" ></label></td>
				<td><label th:text="#{sex.one}" ></label><input type="radio" th:field="*{sex}" th:value="1"/>
					<label th:text="#{sex.two}" ></label><input type="radio" th:field="*{sex}" th:value="2"/></td>
			</tr>
			<tr>
				<td><label th:text="#{register.birth}" ></label></td>
				<td><div class="form-group row">
				<input class="form-control" type="date" th:field="*{birth}"/>
				</div></td>
<!-- 				  <label for="example-date-input" class="col-2 col-form-label">Date</label> -->
<!-- 				  <div class="col-10"> -->
<!--    				 <input class="form-control" type="date" value="2011-08-19" id="example-date-input"> -->
 
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
	
	</div>

</body>
</html>